/* REQUIRED BY .navbar-fixed-top */
body { 
  padding-top: 90px; 
}

li a.navbar-brand {
    float: none;
    padding: 0;
}

.profile-image-container{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.center-text {
  text-align: center;
}

.side-profile ul,
.tweet-info ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.side-profile ul li,
.tweet-info ul li{
  display: inline;
}

.tweets-count, .following {
  float: left;
}

.tweets-count, .following {
  width: 33.3%;
}

.center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.no-padding {
  padding: 0;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.bottom-border {
  border-bottom: 1px solid #ddd;
}

.tweet-composer {
  padding: 15px 20px 15px 20px;
}

.tweet-composer .btn-lg {
  padding: 24px 16px;
}

textarea[name="tweet-text-composer"] {
    resize: none;
}

.tweet {
  padding: 15px 20px 15px 20px;
}

.tweet .tweet-info .username {
  font-size: 1.2em;
  font-weight: 600;
}

#send-tweet[disabled] {
  cursor: default;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  text-align: center;
  color: #777;
}

footer p {
  margin: 5px 0 5px;
}
