/* REQUIRED BY .navbar-fixed-top */
body { 
  padding-top: 90px; 
}

li a.navbar-brand {
    float: none;
    padding: 0;
}

.side-profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.center-text {
  text-align: center;
}

.side-profile ul,
.tweet-info ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.side-profile ul li,
.tweet-info ul li{
  display: inline;
}

.tweets-count, .following {
  float: left;
}

.tweets-count, .following {
  width: 33.3%;
}

.center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.no-padding {
  padding: 0;
}

.tweet {
  border-bottom: 1px solid #ddd;
  padding: 15px 20px 15px 20px;
}

.tweet .tweet-info .username {
  font-size: 1.2em;
  font-weight: 600;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  text-align: center;
  color: #777;
}
